/*! CSS Used from: https://uploads-ssl.webflow.com/5eaa269c1d404a20450c6484/css/satorus-initial-project.webflow.314f6fd96.min.css */
a:active, a:hover {
    outline: 0;
}

.w-container:after {
    clear: both;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
}

a {
    background-color: transparent;
}

h1 {
    margin: .67em 0;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

svg:not(:root) {
    overflow: hidden;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body-earlySignUpV2 {
    background: #fff;
}

.w-inline-block {
    max-width: 100%;
    dblob_animationisplay: inline-block;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

input.w-button {
    -webkit-appearance: button;
}

.w-form-done {
    text-align: center;
}

p {
    margin-top: 0;
}

h1 {
    margin-top: 20px;
}

.w-form {
    margin: 0 0 15px;
}

.w-form-done {
    display: none;
    padding: 20px;
    background-color: #ddd;
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}

.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}

.w-input:-moz-placeholder {
    color: #999;
}

.w-input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.w-input:-ms-input-placeholder {
    color: #999;
}

.w-input::-webkit-input-placeholder {
    color: #999;
}

.w-input:focus {
    border-color: #3898EC;
    outline: 0;
}

.w-container:after, .w-container:before {
    display: table;
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px;
    }
}

@media screen and (max-width: 479px) {
    .w-container {
        max-width: none;
    }
}

.app-icon, .form {
    box-shadow: none;
}

h1, h2 {
    line-height: 1.2;
}

h2, h3 {
    margin-top: 24px;
}

a, body {
    color: #000;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns:1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows:auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    margin-bottom: 12px;
    font-size: 52px;
    font-weight: 700;
}

h2 {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
}

h3 {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 700;
}

p {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.6;
}

.footer__credit, .footer__menu {
    margin-top: 48px;
    margin-bottom: 24px;
    text-align: center;
}

a {
    text-decoration: underline;
}

.footer__credit, .footer__menu__item, .link {
    text-decoration: none;
}

.footer__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.footer__menu {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footet__social, .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.footer__menu__item {
    margin-right: 24px;
    margin-left: 24px;
    color: #666666;
    font-weight: 500;
}

.footer__credit {
    color: #666666;
    font-weight: 500;
}

.footet__social {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer {
    padding-top: 0;
    padding-bottom: 96px;
}

.body {
    background-color: #fffbef;
    font-family: museo-sans, sans-serif;
}

.feature__item, .form {
    width: 100%;
    border-radius: 16px;
    background-color: #fff;
}

.feature__list {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-areas:". ." "Area Area";
    -ms-grid-rows: 1fr 32px .75fr;
    grid-template-rows:1fr .75fr;
}

.form {
    display: flex;
    padding: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
}

.feature__item, .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.feature__item {
    display: flex;
    height: auto;
    padding: 64px 48px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns:1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows:auto auto;
}

.feature__item.bg-fullsize {
    background-image: url(https://uploads-ssl.webflow.com/5eaa269c1d404a20450c6484/5eab7ab1508a3b3a63a84cfb_Covers.png);
    background-position: 50% 50%;
    background-size: cover;
}

.feature__item__title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px 16px;
    font-family: museo-slab, sans-serif;
    color: #000000;
    text-align: center;
}

.hero__message, .text-field {
    font-family: museo-sans, sans-serif;
}

.feature__item__desc {
    margin-bottom: 32px;
    color: #666666;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
}

.feature__item__desc.dark {
    margin-bottom: 0;
    padding: 4px 8px;
    color: #666666;
    font-weight: 500;
}

.button {
    border-radius: 8px;
    background-color: #000000;
    font-weight: 500;
}

.button:hover {
    background-color: #ffc249;
}

.feature, .hero {
    padding-bottom: 96px;
}

.text-field {
    height: 48px;
    margin-bottom: 0;
    border: 1px #000;
    color: #d2ccc6;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.text-field::-webkit-input-placeholder {
    color: #d2ccc6;
}

.text-field:-ms-input-placeholder {
    color: #d2ccc6;
}

.text-field::-ms-input-placeholder {
    color: #d2ccc6;
}

.text-field::placeholder {
    color: #d2ccc6;
}

.form-block {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}

.container, .hero__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.hero, .hero__wrap {
    width: 100%;
    -webkit-flex-direction: row;
}

.hero__wrap {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.hero, .hero__preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.feature {
    padding-top: 96px;
}

.feature__item__image {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 384px;
}

.hero__message {
    margin-top: 32px;
    margin-bottom: 16px;
    color: #000000;
    font-size: 40px;
    text-align: center;
}

.footer__social__item {
    padding-right: 24px;
    padding-left: 24px;
}

.link {
    color: #666666;
}

.success-message {
    border-radius: 8px;
    background-color: #ffefd0;
}

.text-block-2 {
    color: #ffa930;
}

.text-block-3 {
    color: #ff4059;
}

.error-message {
    border-radius: 8px;
    background-color: rgba(255, 64, 89, .2);
}

.app-icon {
    /*margin-bottom: 32px;*/
    border-radius: 32px;
}

.blob__animation {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.feature__item__figure, .hero__preview, .preview__image {
    position: relative;
}

.wrapper {
    padding-top: 0;
}

.hero {
    display: flex;
    height: 100%;
    max-height: 1200px;
    min-height: 0;
    margin-top: 0;
    padding-top: 96px;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    line-height: 24px;
}

.feature__item__wrap {
    padding: 16px;
    border: 4px #666666;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
}

.hero__preview {
    display: flex;
    overflow: hidden;
    width: 50%;
    height: 0%;
    padding-top: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.preview__image {
    z-index: 1;
    width: 100%;
    max-width: 288px;
}

.blob_animation .preview {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.hero__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.lottie-animation, .pre-loader {
    display: none;
}

@media screen and (min-width: 1920px) {
    .feature, .footer {
        padding-top: 96px;
    }

    .feature, .hero {
        padding-bottom: 96px;
    }

    .lottie-animation, .pre-loader {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .feature__item {
        width: 100%;
    }

    .feature__item__title {
        margin-bottom: 0;
    }

    .feature__item__desc {
        margin-bottom: 32px;
        font-size: 20px;
    }

    .feature__item__desc.dark {
        margin-bottom: 0;
    }

    .hero__message {
        margin-bottom: 16px;
        font-size: 48px;
    }

    .hero {
        height: 100%;
        max-height: 1200px;
        min-height: 0;
        padding-top: 192px;
    }

    .hero__content, .hero__preview {
        width: 50%;
    }

    .pre-loader {
        position: fixed;
        z-index: 10;
        background-color: #fff;
    }

    .lottie-animation {
        position: absolute;
        display: none;
        width: 256px;
        height: 256px;
        margin: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

@media screen and (max-width: 991px) {
    .feature__item {
        height: 460px;
    }

    .hero__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .hero__message {
        color: #000000;
        font-size: 40px;
    }

    .hero {
        height: 100%;
    }

    .hero__preview {
        width: 100%;
        margin-top: 48px;
    }

    .hero__content {
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .pre-loader {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: none;
        background-color: #fff;
    }
}

@media screen and (max-width: 767px) {
    h1, h2 {
        line-height: 1.2;
    }

    h3 {
        line-height: 1.4;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .feature__list {
        padding-right: 16px;
        padding-left: 16px;
        -ms-grid-rows: 1fr 1fr auto;
        grid-template-rows:1fr 1fr auto;
    }

    .feature__item {
        height: auto;
    }

    .feature__item.bg-fullsize {
        min-height: 320px;
    }

    .hero__wrap {
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .pre-loader {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: none;
        background-color: #fff;
    }
}

@media screen and (max-width: 479px) {
    .feature__item__desc.dark, .feature__item__title {
        background-color: transparent;
    }

    .app-icon, .form {
        box-shadow: none;
    }

    h1 {
        font-size: 36px;
        line-height: 1.1;
    }

    h2 {
        line-height: 1.2;
    }

    h3 {
        line-height: 1.3;
    }

    .footer__menu__item {
        margin-right: 8px;
        margin-left: 8px;
    }

    .body {
        font-weight: 500;
    }

    .feature__list {
        padding-right: 0;
        padding-left: 0;
        grid-template-areas:". ." ". ." "Area Area";
        -ms-grid-columns: 1fr;
        grid-template-columns:1fr;
        -ms-grid-rows: 1fr 1fr auto;
        grid-template-rows:1fr 1fr auto;
    }

    .form {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .feature__item {
        padding: 32px 24px;
    }

    .feature__item__title {
        margin-bottom: 0;
    }

    .button {
        width: 100%;
        font-weight: 700;
    }

    .text-field {
        width: 100%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        text-align: center;
    }

    .form-block {
        width: 100%;
        margin-bottom: 16px;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .container {
        padding-right: 32px;
        padding-left: 32px;
    }

    .feature {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .hero__message {
        font-size: 24px;
        line-height: 1.2;
    }

    .footer__wrap {
        padding-right: 0;
        padding-left: 0;
    }

    .hero {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .feature__item__wrap {
        padding: 8px;
        border-radius: 8px;
        background-color: #fff;
    }

    .hero__preview {
        padding-top: 0;
    }

    .preview__image {
        width: 50%;
    }

    .blob_animation .preview {
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        width: 100%;
        padding-top: 0;
    }

    .pre-loader {
        display: none;
    }

    .lottie-animation {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: #fff;
    }
}

#w-node-4144ca1f13f3-cff3845a, #w-node-4570ae4cabad-cff3845a {
    -ms-grid-column-align: center;
    justify-self: center;
}

#w-node-0ff7f3b3df74-cff3845a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-row-align: auto;
    align-self: auto;
}

@media screen and (max-width: 767px) {
    #w-node-0ff7f3b3df74-cff3845a, #w-node-4144ca1f13f3-cff3845a, #w-node-4570ae4cabad-cff3845a {
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
        -ms-grid-column: span 2;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
    }

    #w-node-4144ca1f13f3-cff3845a {
        -ms-grid-column-align: center;
        justify-self: center;
    }

    #w-node-0ff7f3b3df74-cff3845a {
        -ms-grid-column-align: auto;
        justify-self: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    }
}

/*! CSS Used from: Embedded */
@media screen and (max-width: 991px) {
    .w-container {
        max-width: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .w-container {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1900px) {
    .w-container {
        max-width: 1400px;
    }
}

.w-container {
    width: 100%;
}

.button:focus {
    outline: none;
}

.email-form {
    border: 3px solid #666;
}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: local('DM Sans Italic'), local('DMSans-Italic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Fp2ywxg089UriCZa4ET-DJF4e8BH9.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: local('DM Sans Italic'), local('DMSans-Italic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Fp2ywxg089UriCZa4Hz-DJF4e8A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 500;
    src: local('DM Sans Medium Italic'), local('DMSans-MediumItalic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Ap2ywxg089UriCZaw7ByWB3wT2iv06JOy.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 500;
    src: local('DM Sans Medium Italic'), local('DMSans-MediumItalic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Ap2ywxg089UriCZaw7ByWCXwT2iv06A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    src: local('DM Sans Bold Italic'), local('DMSans-BoldItalic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Ap2ywxg089UriCZawpBqWB3wT2iv06JOy.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    src: local('DM Sans Bold Italic'), local('DMSans-BoldItalic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Ap2ywxg089UriCZawpBqWCXwT2iv06A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local('DM Sans Regular'), local('DMSans-Regular'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local('DM Sans Regular'), local('DMSans-Regular'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: local('DM Sans Medium'), local('DMSans-Medium'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Cp2ywxg089UriAWCrCBamC3YU-CnE6Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: local('DM Sans Medium'), local('DMSans-Medium'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Cp2ywxg089UriAWCrCBimC3YU-Ck.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: local('DM Sans Bold'), local('DMSans-Bold'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Cp2ywxg089UriASitCBamC3YU-CnE6Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: local('DM Sans Bold'), local('DMSans-Bold'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Cp2ywxg089UriASitCBimC3YU-Ck.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: museo-sans;
    src: url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: museo-sans;
    src: url(https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"), url(https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"), url(https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: museo-sans;
    src: url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: museo-sans;
    src: url(https://use.typekit.net/af/c2d3de/00000000000000000000e804/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/c2d3de/00000000000000000000e804/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/c2d3de/00000000000000000000e804/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: museo-sans;
    src: url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: museo-sans;
    src: url(https://use.typekit.net/af/2841b6/00000000000000000000e806/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/2841b6/00000000000000000000e806/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/2841b6/00000000000000000000e806/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: museo-slab;
    src: url(https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3) format("woff2"), url(https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3) format("woff"), url(https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3) format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: museo-slab;
    src: url(https://use.typekit.net/af/1d2651/00000000000000000000ec0c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3) format("woff2"), url(https://use.typekit.net/af/1d2651/00000000000000000000ec0c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3) format("woff"), url(https://use.typekit.net/af/1d2651/00000000000000000000ec0c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3) format("opentype");
    font-weight: 800;
    font-style: italic;
}