{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>🌍Astral Whale 🐋</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "frontend/assets/icon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "frontend/assets/icon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "frontend/assets/icon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "frontend/assets/icon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "frontend/assets/icon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "frontend/assets/icon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "frontend/assets/icon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "frontend/assets/icon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "frontend/assets/icon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static "frontend/assets/icon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "frontend/assets/icon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "frontend/assets/icon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "frontend/assets/icon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "frontend/assets/icon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "frontend/assets/icon/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static "frontend/style.css" %}">

    <link rel="stylesheet" href="{% static "frontend/assets/vendors/flag-icon-css/css/flag-icon.min.css" %}">
    <link rel="stylesheet" href="{% static "frontend/assets/vendors/font-awesome/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "frontend/assets/vendors/aos/aos.css" %}">
    <link rel="stylesheet" href="{% static "frontend/assets/css/style.css" %}">
</head>
<body>
<div id="app">
    <!-- React will load here -->
</div>
</body>

<script src="{% static "frontend/main.js" %}"></script>
<script src="{% static "frontend/assets/vendors/jquery/jquery.min.js" %}"></script>
<script src="{% static "frontend/assets/js/loader.js" %}"></script>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="{% static "frontend/assets/vendors/popper.js/popper.min.js" %}"></script>
<script src="{% static "frontend/assets/vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "frontend/assets/vendors/aos/aos.js" %}"></script>
<script src="{% static "frontend/assets/js/main.js" %}"></script>


<script>
    AOS.init({
        duration: 800
    });
</script>
</html>
